<style type="text/css">

	/* --- General --- */

	html {
		font-size: 32px;
	}

	main {
		width: 38rem;
	}

	div.page.border {
		width: 100%;
		height: 0.5rem;
	}

	div.page-wrapper{
		padding: 1rem 3rem;
	}

	/* title block */ 
	#title-block div.title-wrapper {
		margin-bottom: 1rem;
		margin-top: -0.25rem;
	}

	/* footer block */
	#footer-block div.text {
		//color: white;
		margin-top: 0.5rem;
	}

	#footer-block div.logo-container {
		background-image: url("assets/logo2025@4x-8.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right center;

		height: 2.5rem;
		width: 100%;
		margin-top: 1rem;
	}

	/* text styles */
	.text {
		font-family: 'Koning';
		transform: scaleX(1.1);
	}

	.text.left-aligned {
		text-align: left;
		transform-origin: 0% 0;
	}

	.text.centre-aligned {
		text-align: center;
		transform-origin: 50% 0;
	}

	.text.right-aligned {
		text-align: right;
		transform-origin: 100% 0;
	}

	.text.subhead {
	    margin-top: -0.2rem;
	}

	.text.weight-regular {
		font-weight: 500;
	}

	.text.weight-bold {
		font-weight: 700;
	}

	.text.weight-black {
		font-weight: 900;
	}

	.text.size-large {
		font-size: 2rem;
		line-height: 1.25em;
	}

	.text.size-regular {
		font-size: 1rem;
		line-height: 1rem;
	}

	.text.size-small {
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.text.size-tiny {
		font-size: 0.6rem;
		line-height: 0.8rem;
	}

	/* fonts */
	@font-face {
			/* updated Jul 24 */
		    font-family: 'Koning';
		    src: url('assets/KoningDisplay-SemiLight_TRIAL.woff2');
		    font-weight: 400;
		}

	@font-face {
		    font-family: 'Koning';
		    src: url('assets/KoningDisplay-Regular_TRIAL.woff2');
		    font-weight: 500;
		}

	@font-face {
		    font-family: 'Koning';
		    src: url('assets/KoningDisplay-SemiBold_TRIAL.woff2');
		    font-weight: 600;
		}

	@font-face {
		    font-family: 'Koning';
		    src: url('assets/KoningDisplay-Bold_TRIAL.woff2');
		    font-weight: 700;
		}

	@font-face {
		    font-family: 'Koning';
		    src: url('assets/KoningDisplay-Black_TRIAL.woff2');
		    font-weight: 900;
		}


  	/* --- Results --- */
	div.viz-result-list-container {
		display: inline-block;
	}

	div.result-list-container div.result-container {
		display: inline-block;
	}

	div.result-list-container div.result-container div.result-row {
		position:  relative;
		width: 100%;
		float: left;
		margin-bottom: 0.25rem;
	}

	div.result-list-container div.result-container div.result-row div {
		display: inline-block;
		float: left;
	}

	div.result-list-container div.result-container div.result-row div.chip-indicator {
		position: absolute;
		width: 1.25rem;
		height: 1.65rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;	
	}

	div.result-list-container div.chip-indicator.bench-boost {
		background-image: url("assets/chip-bench-boost.svg");
	}

	div.result-list-container div.chip-indicator.free-hit {
		background-image: url("assets/chip-free-hit.svg");
	}

	div.result-list-container div.chip-indicator.triple-captain {
		background-image: url("assets/chip-triple-captain.svg");
	}

	div.result-list-container div.chip-indicator.wildcard {
		background-image: url("assets/chip-wildcard.svg");
	}

	div.result-list-container div.result-container div.result-row div.chip-indicator.home {
		left: calc(-1.25rem - 0.2rem);
	}

	div.result-list-container div.result-container div.result-row div.chip-indicator.away {
		right: calc(-1.25rem - 0.2rem);
	}

	div.result-list-container div.result-container div.result-row div.team {
		//background: #16007A;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin: 0 0.1rem;
		width: 11.25rem;
	}

	div.result-list-container div.result-container div.result-row div:not(.chip-indicator) {
		height: 1.5rem;
		padding-top: 0.15rem;
		line-height: 1rem;
	}

	div.result-list-container div.result-container div.result-row div.team div.text {
		//width: calc(100% - 1.2rem);
	}

	div.result-list-container div.result-container div.result-row div.team.home div.text {
		float: right;
	}

	div.result-list-container div.result-container div.result-row div.team.away div.text {
		float: left;
	}


	div.result-list-container div.result-container div.result-row div.score div.text {
		width: 100%;
	}

	div.result-list-container div.result-container div.result-row div.score.home {
		margin-right: 0.1rem;
	}

	div.result-list-container div.score {
		width: 3rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}

	div.result-list-container div.result-indicator {
		width: 0.5rem;
	}


	/* --- Fixtures --- */
	div.fixture-list-container {
		display: inline-block;
	}

	div.fixture-list-container div.fixture-container {
		display: inline-block;
	}

	div.fixture-list-container div.fixture-container div.fixture-row {
		position:  relative;
		width: 100%;
		float: left;
		margin-bottom: 0.25rem;
	}

	div.fixture-list-container div.fixture-container div.fixture-row div {
		display: inline-block;
		float: left;
	}

	div.fixture-list-container div.fixture-container div.fixture-row div.team {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		width: 13.9rem;
	}

	div.fixture-list-container div.fixture-container div.fixture-row div {
		height: 1.5rem;
		padding-top: 0.15rem;
		line-height: 1rem;
	}

	div.fixture-list-container div.fixture-container div.fixture-row div.team.home div.text {
		float: right;
	}

	div.fixture-list-container div.fixture-container div.fixture-row div.team.away div.text {
		float: left;
	}


	div.fixture-list-container div.fixture-container div.fixture-row div.score div.text {
		width: 100%;
	}

	div.fixture-list-container div.score {
		width: 2rem;
		margin: 0 0.1rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}

	/* ------------------- */

	div.viz-wrapper svg {
		overflow: visible;
	}

	/* Viz legends */
	div.viz-wrapper {
		//background-color: rgba(255,255,255,0.1);
	}

	div.legend-wrapper {
		margin-bottom: 2rem;
	}

	div.legend-container {
		margin: -0.15rem;
	}

	div.legend-item:not(.vs) {
		margin: 0.15rem;
		padding: 0.3rem 0.6rem 0.15rem;
	}

	div.legend-item {
		margin: 0.15rem 0;
		padding: 0 0.3rem;
		border-radius: 0.2rem;
		display: inline-block;
	}


	/* Bubble charts */

	div.viz:not(:last-child) {
		margin-bottom: 2rem;
	}

	div.viz div.caption {
		max-width: 36ch;
		margin-bottom: 1rem;
	}

	div.viz div.caption div.subtitle {
		margin-bottom: 0.3rem;
	}

	div.viz svg .text.small.superscript {
		font-size: 0.6rem;
		baseline-shift: super;
	}


	/* League Table */

	div.league-table-wrapper {
	}

	div.league-table-container {
		width: 100%;
		margin: 0;
		display: inline-block;
	}

	div.league-table-container div.table-row-wrapper {
	}

	div.league-table-container div.table-row-container, div.league-table-container div.table-header-container {
		margin: 0 -0.15rem;
		display: inline-block;
		width: 100%;
	}

	div.table-header-container div.table-column {
		margin: 0rem 0.15rem 0.2rem;
		display: inline-block;
		float: left;
		text-align: center;
		color: white;
		border-bottom: solid 0.1rem white;
		padding-bottom: 0.15rem;
	}

	div.table-row-container div.table-column {
		margin: 0.15rem;
		display: inline-block;
		float: left;
		text-align: center;
	}


	div.table-row-container div.position-change-wrapper {
		float: left;
		height: 0rem;
		width: 0rem;
	}

	div.table-row-container div.position-change-container {
		position: relative;
		width: 2.2rem;
		height: 2.2rem;
		margin: 0.15rem;
		left: -2.5rem;
	}

	div.table-row-container div.position-change-container.arrow-down {
		transform: rotate(180deg);
	}


	div.table-row-container div.position-change-container svg {
		width: 1rem;
		height: 1rem;
		margin: 0.6rem;
	}

	div.table-row-container div.table-column.position, div.table-header-container div.table-column.position  {
		width: 2.3rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}

	div.table-row-container div.table-column.position {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		background-color: white;
	}

	div.table-row-container div.table-column.team-name , div.table-header-container div.table-column.team-name {
		padding-left: 0.5rem;
		padding-right:0.5rem;
		width: 20.5rem;
		text-align: left;
	}

	div.table-row-container div.table-column.team-name {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		background-color: white;
	}

	div.table-row-container div.table-column.team-name span {
		vertical-align: baseline;
		padding-left: 0.4rem;
		line-height: 0;
	}

	div.table-row-container div.table-column.score, div.table-header-container div.table-column.score {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		width: 4.25rem;
	}

	div.table-row-container div.table-column.score {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		background-color: white;
	}

	div.table-row-container div.table-column.league-points, div.table-header-container div.table-column.league-points {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		width: 4.25rem;
	}

	div.table-row-container div.table-column.league-points {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		background-color: white;
	}

	div.table-row-container div.table-column.viz, div.table-header-container div.table-column.viz {
		padding-left: 0rem;
		padding-right: 0rem;
		width: 7.2rem;
	}

	div.table-row-container div.table-column.viz {
		height: 2.2rem;
	}

	div.table-header-container div.table-column.viz {
		text-align: left;
	}

	/* --- control panel --- */
    #controls {
        margin: 1rem;
        padding: 1rem;
        border: 1px solid;
        position: fixed;
        top: 0;
        right: 0;
        width: 8rem;
        font-size: 0.8rem;
        font-family: 'Helvetica Neue';
        background: white;
    }

    #controls div.group {
        margin-bottom: 1rem;
    }

    #controls div.label {
        margin-bottom: 0.5rem;
    }

</style>