@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion HTFFlyweight Regular.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion HTFFeatherweight Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion HTFMiddleweight Regular.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion HTFHeavyweight Regular.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Helvetical Neue';
    src: url('fonts/HelveticaNeueLTStd-Roman.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetical Neue';
    src: url('fonts/HelveticaNeueLTStd-Bd.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Helvetical Neue';
    src: url('fonts/HelveticaNeueLTStd-Lt.otf');
    font-weight: 200;
}

main {
    
}

.fly {
    font-weight: 200;
}

.feather {
    font-weight: 400;
}

.middle {
    font-weight: 600;
}

.heavy {
    font-weight: 800;
}

h1 {
    font-family: 'Champion';
    font-weight: 800;
    font-size: 2em;
    line-height: 1.4em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: 'Helvetical Neue';
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0;
}

h3 {
    font-family: 'Helvetical Neue';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}

h4 {
    font-family: 'Helvetical Neue';
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
    margin-bottom: 0.7rem;
}

p {
    font-family: 'Helvetical Neue';
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 200;
}

p:not(:last-child) {
    margin-bottom: 2.8em;
}

p.footnote {
    font-size: 0.8rem;
}

section {
    background-image: linear-gradient(-90deg, #00FF00, #0000FF);
    width: 800px;
    margin: 0 auto;

}

div.wrapper {
    padding: 2em;
}

div.wrapper.dark{
    background-color: black;
    color: white;
}

div.divider {
    background-image: url('https://github.com/jrmychrstphr/Chumpionship/blob/master/assets/design-assets/chumpionship_divider@2x-8.png?raw=true');
    background-size: cover;
    background-position: center;
    height: 2.5em;
    width: 100%;
}

div.divider.alt {
    background-image: url('https://github.com/jrmychrstphr/Chumpionship/blob/master/assets/design-assets/chumpionship_divider---alt@2x-8.png?raw=true');
}

#input_controls {
    position: absolute;
}